@model IEnumerable<JobPortalSystem.ViewModels.ComUserInfo>

@{
    ViewData["Title"] = "GetAllCompanies";
}

<h1>GetAllCompanies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>     
              <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
           
            <th>Accebted</th>
            <th>Not Accebted</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
          
            <td>
                    <a class="btn btn-danger" asp-action="Accept" asp-controller="admin"> <i class="bi bi-trash">Accepted</i></a>
            </td>
            <td>
                    <a class="btn btn-danger" asp-action="notAccept" asp-controller="admin"> <i class="bi bi-trash">Not Accepted</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
